@media (max-height: 800px) {
  .content_container footer {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    padding-top: 40px;
  }

  .content_container .water_drop {
    display: none;
  }
}
